<!-- about me -->
<section class="banner-bottom" id="about">
    <div class="inner-sec">
      <div class="row middle-grids">
        <div class="col-lg-7 advantage-grid-info">
          <div class="advantage_left">
            <h2 class="heading text-capitalize mb-4">About Me <span></span></h2>
            <h4>I'm an IT Engineer </h4>
            <p class="mb-4">But first of all I'm a Linux enthusiast.<br>Then I'm a bicycle enthusiast.</p>
            <a
              href="https://drive.google.com/file/d/1rlJxa77baT8tt2Ez98jRg0kkbXdLvrGK/view?usp=sharing"
              target="_blank"
              class="banner-button1 btn">Download CV</a>
            <!-- <a href="#contact" class="banner-button2 btn">Hire Me</a> -->
          </div>
        </div>
        <div class="col-lg-5 advantage-grid-info1">
          <div class="advantage_left1 mt-lg-0 mt-4">
            <img src="images/marianiluca.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
</section>
<!-- //about me -->
