<!-- banner -->
<section class="banner">
  <div class="col-md-12">
    <div class="banner-info">
       <h2 class="heading-banner text-capitalize">Hi. I'm <span>Luca Mariani.</span></h2>
      <!-- <p class=" mt-3">Integer porttitor <span>mollisar </span>lorem, at molestie arcu pulvinar ut. Proin ac fermentum est.
      Cras mi ipsum, consectetur. Integer at tellus in ex iaculis accumsan nec tristique justo. Aliquam dapibus iaculis enim,
      a dapibus nibh convallis scelerisque.</p> -->
      <a href="#about" class="banner-button btn mt-md-5 mt-3 scroll">Read More</a>
    </div>
  </div>
</section>
<!-- //banner -->
