<!-- header -->
<header>
  <div class="container">
    <div class="header d-lg-flex">
      <div class="nav_w3ls mt-lg-3">
        <nav>
          <label for="drop" class="toggle mt-lg-0 mt-sm-1"><span class="fa fa-bars" aria-hidden="true"></span></label>
          <input type="checkbox" id="drop" />
            <ul class="menu">
              <li class="active"><a href="index.html">Home</a></li>
              <li class=""><a href="#about">About </a></li>
              <li class=""><a href="#edu-exp">Education and Experience</a></li>
              <!-- <li class=""><a href="#services">Services </a></li> -->
              <!-- <li class="">
              <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
              <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
              <input type="checkbox" id="drop-2"/>
              <ul class="inner-dropdown">
                <li><a href="#skills">My Skills</a></li>
                <li class=""><a href="#edu-exp">Education and Experience</a></li>
              </ul>
              </li>
              <li class=""><a href="#projects">Projects</a></li>
              <li class=""><a href="#contact">Contact Me</a></li> -->
            </ul>
        </nav>
      </div>
      <div class="social mt-lg-3 mt-1 ml-auto">
        <ul>
          <li class="mr-sm-3 mr-2 icons"><a href="#"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
          <li class="mr-sm-3 mr-2 icons"><a href="#"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
          <li class="mr-sm-3 mr-2 icons"><a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
          <li class=" icons"><a href="#"><span class="fa fa-pinterest" aria-hidden="true"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- //header -->
